<html>
  <head>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="<https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js>"></script>
    <script>
      axios.defaults.xsrfCookieName = 'csrftoken';
      axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    </script>

    <title>To Do List</title>
  </head>
  <body>
    <div id="vue-app">
      <h1>[[ myTitle ]]</h1>
    </div>
    <script type="text/javascript">
      let app = new Vue({
        el: "#vue-app",
        delimiters: ['[[', ']]'],
        data: {
          myTitle: 'To-Do List',
        },
      });
    </script>
  </body>
</html>